/* .ios ion-header.home {
  padding-top: var(--ion-safe-area-top, 0);
} */

/* body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
} */

a {
  text-decoration: none;
}

.ios ion-header.safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.ios ion-header .markHeader {
  height: constant(safe-area-inset-top);
  height: env(safe-area-inset-top);
  background-color: #000;
}

.ios ion-content .safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

ion-footer.safe-area ion-toolbar.ios {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

ion-footer.safe-area ion-toolbar.md {
  padding-bottom: 10px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: left;
}

.sbp-slider-wrap {
  overflow-y: scroll;
  display: block;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

.card-wrap {
  text-align: left;
}

.swiperContentWrap {
  width: 100%
}

.pd-mid-sec-wrap .pd-content-slider .swiper-slide div {
  text-align: left;
  overflow: hidden;
  width: 100%;
}

.video-player {
  width: 100%;
  height: 100%;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.cart-updated {
  --backdrop-opacity: 0;
  --background: rgba(0, 0, 0, 0.7);
  --min-width: 40%;
  --max-width: 60%
}

.cart-updated .wrap-cart-updated {
  text-align: center;
}

.cart-updated .wrap-cart-updated .cart-update-icon {
  width: 35x;
  height: 35px;
  opacity: 0.6;
}

.cart-updated .wrap-cart-updated .cart-updated-caption {
  color: #fff;
  opacity: 0.7;
}

.cart-product-slider .swiper, .cart-freebie-slider .swiper {
  width: 100%
}

/* ปุ่มพื้นฐานซ้าย-ขวา */
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;          
  height: 120px;        
  background: rgba(0, 0, 0, 0.6); 
}

.slide-btn-left {
  left: 0;
  border-radius: 0 8px 8px 0;
}

.slide-btn-right {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.slide-btn ion-icon {
  font-size: 32px;  
  color: #ffffff;  
}
.slide-btn.disabled {
  opacity: 0.3;
  pointer-events: none;  
}
.slides-product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background: #fff;
}

.product-supplement {
  display: none;
  margin-top: 24px;
  padding: 24px;
}

.product-supplement.is-visible {
  display: block;
}


